.MasterDetail__logo {
    color: rgb(255, 167, 7);
}

.MasterDetail__header {
    margin-bottom: 30px;
    text-align: center;
    color: rgb(3, 120, 244);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}