.DetailedContact__wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.DetailedContact__toolbar {
    text-align: center;
}

.DetailedContact__toolbar button:not(last-of-type) {
    margin-right: 15px;
}
