.PreviewContact__wrapper {
    color: ghostwhite;
}

.PreviewContact__header {
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.PreviewContact__paragraph {
    letter-spacing: 2px;
}