.control-label-event {
    letter-spacing: 1.2px;
}

.EventForm__wrapper {
    max-width: 360px;
    margin: 0 auto;
    padding: 10px;
}

.EventForm__toolbar {
    text-align: center;
}

.EventForm__toolbar button:not(:last-of-type) {
    margin-right: 15px;
}

.EventForm__toolbar button:nth-child(3) {
    margin-top: 20px;
}

.EventForm__toolbar button:disabled {
    cursor: not-allowed;
}

@media (min-width: 400px) {
    .EventForm__toolbar button:nth-child(3) {
        margin-top: 0;
    }
}