.DateSearchBar__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.DateSearchBar__date-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
}

.DateSearchBar__date-item {
    flex-basis: 100%;
}

.DateSearchBar__phrase-search {
    flex-basis: 100%;
    max-width: 420px;
}

@media only screen and (min-width: 420px) {
    .DateSearchBar__date-item {
        flex-basis: 30%;
    }
}

@media only screen and (min-width: 670px) {
    .DateSearchBar__phrase-search {
        flex-basis: 0;
        flex-grow: 1;
    }
}

@media only screen and (min-width: 992px) {
    .DateSearchBar__phrase-search {
        flex-basis: 100%;
    }
}