.Calendar__wrapper {
    max-width: 800px;
    height: 80vh;
    margin: 0 auto;
    padding: 15px;
}

.Calendar__event-public {
    background-color: red;
}

.Calendar__event-other {
    background-color: green;
}