.MasterView__wrapper {
    max-width: 360px;
    max-height: 40vh;
    margin: 0 auto;
    padding: 10px;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .MasterView__wrapper {
        max-height: 80vh;
    }
}
