.DetailedEvent__wrapper {
    max-width: 360px;
    margin: 0 auto;
    padding: 10px;
}

.DetailedEvent__toolbar {
    text-align: center;
}

.DetailedEvent__toolbar button:not(:last-of-type) {
    margin-right: 15px;
}
