.EventsDashboard__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.EventsDashboard__table {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 230px;
}

@media only screen and (min-width: 992px) {
    .EventsDashboard__table {
        flex-basis: 100%;
    }
}