.EventsList__wrapper {
    list-style-type: none;
    position: relative;
    margin-right: 20px;
    padding-right: 35px;
    max-height: 400px;
    overflow-y: scroll;
}

.EventsList__item {
    margin-bottom: 20px;
}

.EventsList__marker {
    position: absolute;
    left: 5px;
    font-size: 1.65em;
}