.Auth__header {
    margin-bottom: 30px;
    text-align: center;
    color: rgb(3, 120, 244);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.Auth__paragraph {
    letter-spacing: 2px;
    color: rgb(86, 87, 86);
    text-align: justify;
}

.Auth__footer {
    letter-spacing: 2px;
    color: rgb(86, 87, 86);
    text-align: right;
    padding-top: 25px;
    padding-bottom: 50px;
}

.Auth__image {
    margin-left: 50%;
    transform: translateX(-50%);
    padding-bottom: 10px;
}
.btn-warning {
    padding: 0px;
}