.MainRouter__wrapper {
    margin-top: 60px;
}

.MainRouter__header {
    margin-bottom: 30px;
    text-align: center;
    color: rgb(3, 120, 244);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.MainRouter__paragraph {
    letter-spacing: 2px;
    color: rgb(86, 87, 86);
    text-align: justify;
}

.MainRouter__footer {
    letter-spacing: 2px;
    color: rgb(86, 87, 86);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
}